
<table class='table table-bordered table-striped'>
  <thead>
    <th><%= @is_response ? '属性名' : '参数名' %></th>
    <th>类型</th>
    <th>描述</th>
  </thead>

  <tbody>
    <% unless @params.nil? || @params.length == 0 %>
      <% @params.each do |param| %>
        <% if @type == 'params' %>
          <% format_param(param) %>
        <% elsif @type == 'return' || @type == 'error' %>
          <% format_response_param(param); %>
        <% else %>
          <% format_other_param(param) %>
        <% end %>

        <tr>
          <% ['name', 'type'].each do |key| %>
            <% if key == 'type' %>
              <td>
                <%= param[key] %>
                <% if param['required'] %>
                  <span style='color:red'>【required】</span>
                <% end %>
              </td>
            <% else %>
              <td><%= param[key] %></td>
            <% end %>
          <% end %>

          <td>
            <%= param['val'] %>

            <% if param['children'] %>
              <table class='table table-bordered table-striped'>
                 <thead>
                  <th>属性名</th>
                  <th>类型</th>
                  <th>描述</th>
                </thead>
                <tbody>
                  <% param['children'].each do |cp| %>
                    <tr>
                      <td><%= cp['name'] %></td>
                      <td><%= cp['type'] %></td>
                      <td></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </td>

        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">不需要参数</td>
      </tr>
      <% if false %>
      <tr>
        <td>error</td>
        <td>String</td>
        <td>错误标识</td>
      </tr>

      <tr>
        <td>error_description</td>
        <td>String</td>
        <td>错误具体描述</td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

