<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">

    <title><%= @title %></title>

    <link href='http://libs.baidu.com/bootstrap/2.3.2/css/bootstrap.css' rel='stylesheet'>
    <style type='text/css'><%= render 'style' %></style>

    <script type='text/javascript' src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script type='text/javascript'><%= render 'javascript' %></script>
  </head>

  <body>
    <h1 class='title'><%= @title %></h1>
    <%= render 'menu' %>

    <%= render 'controller'%>
  </body>
</html>
